@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido_festival{
    @include m.contenedor;
    @include m.tablet{
       @include m.grid(2, 5rem);
    }
}

.informacion_festival{

    .titulo{
        margin-bottom: .5rem ;
        // margin-top: 2rem;
        padding: 0;
    }
    .fecha{
        color: v.$verde;
        font-weight: 700;     
    }
}